<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ro.ubbcluj.cs.ealf.uml2editor.editorContribution"
            targetID="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
         <action
               class="ro.ubbcluj.cs.ealf.uml2editor.actions.OpenEAlfEditorActionDelegate:ro.ubbcluj.cs.ealf.uml2editor.openEAlfEditorCommand"
               enablesFor="1"
               id="ro.ubbcluj.cs.ealf.uml2editor.openealfaction"
               label="Open EAl&amp;f"
               menubarPath="org.eclipse.uml2.umlMenuID/additions"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.uml2.uml.Operation">
               </objectClass>
            </enablement>
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="ro.ubbcluj.cs.ealf.uml2editor.objectContribution"
            objectClass="org.eclipse.uml2.uml.Operation">
         <action
               class="ro.ubbcluj.cs.ealf.uml2editor.actions.OpenEAlfEditorActionDelegate"
               enablesFor="1"
               id="ro.ubbcluj.cs.ealf.uml2editor.openealfpopupaction"
               label="Open EAl&amp;f"
               menubarPath="additions">
            <enablement>
               <objectClass
                     name="org.eclipse.uml2.uml.Operation">
               </objectClass>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ro.ubbcluj.cs.ealf.uml2editor.openEAlfEditorCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ro.ubbcluj.cs.ealf.uml2editor.EAlfCategory"
            defaultHandler="ro.ubbcluj.cs.ealf.uml2editor.actions.OpenEAlfEditorHandler"
            id="ro.ubbcluj.cs.ealf.uml2editor.openEAlfEditorCommand"
            name="openEAlfEditorCommand">
      </command>
      <category
            id="ro.ubbcluj.cs.ealf.uml2editor.EAlfCategory"
            name="EAlfCategory">
      </category>
   </extension>

</plugin>
