<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="ro.ubbcluj.cs.ealf.ui.EAlfExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="ealf"
            id="ro.ubbcluj.cs.ealf.EAlf"
            name="EAlf Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="ro.ubbcluj.cs.ealf.ui.EAlfExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="ro.ubbcluj.cs.ealf.EAlf.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="ro.ubbcluj.cs.ealf.ui.EAlfExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="ro.ubbcluj.cs.ealf.EAlf.validate">
         <activeWhen>
            <reference
                    definitionId="ro.ubbcluj.cs.ealf.EAlf.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="ro.ubbcluj.cs.ealf.EAlf.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="ro.ubbcluj.cs.ealf.EAlf" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="ro.ubbcluj.cs.ealf.ui.EAlfExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="ro.ubbcluj.cs.ealf.EAlf"
            name="EAlf">
            <keywordReference id="ro.ubbcluj.cs.ealf.ui.keyword_EAlf"/>
        </page>
        <page
            category="ro.ubbcluj.cs.ealf.EAlf"
            class="ro.ubbcluj.cs.ealf.ui.EAlfExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="ro.ubbcluj.cs.ealf.EAlf.coloring"
            name="Syntax Coloring">
            <keywordReference id="ro.ubbcluj.cs.ealf.ui.keyword_EAlf"/>
        </page>
        <page
            category="ro.ubbcluj.cs.ealf.EAlf"
            class="ro.ubbcluj.cs.ealf.ui.EAlfExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="ro.ubbcluj.cs.ealf.EAlf.templates"
            name="Templates">
            <keywordReference id="ro.ubbcluj.cs.ealf.ui.keyword_EAlf"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="ro.ubbcluj.cs.ealf.ui.keyword_EAlf"
            label="EAlf"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="ro.ubbcluj.cs.ealf.EAlf.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="ro.ubbcluj.cs.ealf.EAlf.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="ro.ubbcluj.cs.ealf.EAlf.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="ro.ubbcluj.cs.ealf.EAlf.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="ro.ubbcluj.cs.ealf.ui.EAlfExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="ro.ubbcluj.cs.ealf.EAlf.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="ro.ubbcluj.cs.ealf.ui.EAlfExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="ealf">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="ro.ubbcluj.cs.ealf.ui.EAlfExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="ealf">
        </resourceServiceProvider>
    </extension>



   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="ro.ubbcluj.cs.ealf.ui.EAlfExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

</plugin>
